*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background-color: rgb(106, 109, 116);    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #000000;
    box-shadow: 0 5px 10px ;
    padding: 20px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    height: 60%;
}

header .navbar  ul{
    list-style: none;
}

header .navbar  ul li{
    position: relative;
    float: left;
}

img{
    width: 125px;
    height: 70px;
    align-items: center
}

header .navbar  ul li a{
    font-size: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: block;
}

header .navbar  ul li a:hover{
    background: #333;
    color:#fff ;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.container{
    width: 100;
    display: flex;
    max-width: 1100px;


}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:#fff;
    box-shadow:  1px 10px 15px rgb(97, 96, 96);
    cursor: default;
    transition: all 400ms ease;
    
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
    transform: translate(-3%) ;
}

.card img{
    width: 330px;
    height: 220px;
    

}


.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color:#6a6a6a;
    
}

.card .contenido h3{
 font-weight: 400;
 margin-bottom: 15px;

}

.card .contenido a{
text-decoration: none;
display: inline-block;
padding: 10px;
margin-top: 10px;
color: #2fb4cc;
border: 1px solid #2fb4cc;
border-radius: 4px;
transition : all400ms ease;


}

.card .contenido a:hover {
    background : #2fb4cc;
    color: #fff;

} 

























@media(max-width:991px){
    header{
        padding: 20px;
        
    }

    header label{
        display: initial;
    }

    header .navbar{ 
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(0, 0, 0);
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #eee;
    }

    header .navbar ul li ul li ul{
        width: 100px;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}