{% extends 'social/layout.html' %}
{% block content%}
{% load static%}
<!DOCTYPE html>
<html lang="en">



<body>

    <div  class="mundito">
        <div class="mapa">
          <div class="aparecer1">
            <img src="{% static 'img/coin.png' %}" class="img11">
          </div>
    
                <div class="aparecer3">
            <img src="{% static 'img/nueva señal.png' %}" class="img33">
          </div>
    
          <div class="aparecer4">
            <img src="{% static 'img/espacio vacio.png' %}" class="img44">
          </div>
        
          <div class="aparecer2">
            <img src="{% static 'img/señal wifi.png' %}" class="img22">
          </div>
        
      
        </div>
      </div>

<div class="pendiente"> </div>

<div class="container" style="background-color:  white;">
    <!-- <div class="pendiente"> </div> -->
    <!-- Formulario-->
  <section class="form-register">
    <div class="elementos">
      <table>
        <tr>
          <td>
            <h4> Nombre* </h4>
            <input class="controllers" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" required
              minlength="4" required maxlength="16" onkeypress="return ch(event)">
          </td>

          <td>
            <h4> Apellidos* </h4>
            <input class="controllers" type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido"
              required minlength="4" required maxlength="16" onkeypress="return ch(event)" />
          </td>
        </tr>

        <tr>
          <td>
            <h4> Correo* </h4>
            <input class="controllers" type="email" name="correo" id="correo" placeholder="Ingrese su correo" required
              minlength="10" required maxlength="20" required />
          </td>
          <td>
            <h4> Telefono* </h4>
            <input class="controllers" type="tel" name="telefono" id="telefono" placeholder="Ingrese su telefono"
              required minlength="10" required maxlength="11" onkeypress="return numb(event)" />
          </td>
        </tr>

        <tr>
          <td>
            <h4> Empresa* </h4>
            <input class="controllers" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" required
              minlength="4" required maxlength="16" onkeypress="return ch(event)">
          </td>
          <td>
            <h4> Cargo* </h4>
            <input class="controllers" type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido"
              required minlength="4" required maxlength="16" onkeypress="return ch(event)" />
          </td>
        </tr>
      </table>

      <h4> Comentarios* </h4>
      <textarea class="controllers" required placeholder="Deje su comentario" required minlength="1" maxlength="140"
        onkeypress="return check(event)"></textarea>

      <input class="buttons" type="submit" value="Contactanos">

    </div>
    <!-- Fin Formulario-->

    <div class="info">
      <h1 class="titt"> Contactanos</h1>
      <p class="tecx"> Puedes localizarnos enviando un mensaje con tu informacion y en breve seras contactado</p>
    </div>

  </section>
<!-- Fin contenedor -->
</div>
  
    <script src="https://kit.fontawesome.com/b493bbbcd9.js" crossorigin="anonymous"></script>
    <script src="../../static/scripts/script.js"></script>
</body>

</html>

{% endblock %}