{% extends 'social/layout.html' %}
{% block content%}
{% load static%}
<!DOCTYPE html>
<html lang="en">
   
<body>

    <div  class="mundito">
        <div class="mapa">
          <div class="aparecer1">
            <img src="{% static 'img/coin.png' %}" class="img11">
          </div>
    
                <div class="aparecer3">
            <img src="{% static 'img/nueva señal.png' %}" class="img33">
          </div>
    
          <div class="aparecer4">
            <img src="{% static 'img/espacio vacio.png' %}" class="img44">
          </div>
        
          <div class="aparecer2">
            <img src="{% static 'img/señal wifi.png' %}" class="img22">
          </div>
        
      
        </div>
      </div>

<!-- texto inicial -->
<div class="text">
    <h1> Lorem ipsum </h1>
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dignissimos facilis perferendis quo
        quibusdam velit cum optio sed blanditiis dicta, modi labore. Sunt, adipisci dolore numquam veniam quibusdam
        sed vitae.</p>
</div>

<!-- tarjetas -->
<div class="container mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <h2 class="card-title mt-2"> Card Prueba </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, odio sapiente sequi, obcaecati
                    tempora rerum harum ratione at cupiditate delectus eligendi beatae placeat nostrum ipsa optio
                    architecto, quam consequatur id.</p>
            </div>
            <div class="col-md-4">
               
                <img src="../../static/img/infamous.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <img src="../../static/img/infamous.jpg" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h2 class="card-title mt-2"> Card Prueba </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, odio sapiente sequi, obcaecati
                    tempora rerum harum ratione at cupiditate delectus eligendi beatae placeat nostrum ipsa optio
                    architecto, quam consequatur id.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="card">
        <div class="row">
            <div class="col-md-8">
                <h2 class="card-title mt-2"> Card Prueba </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, odio sapiente sequi, obcaecati
                    tempora rerum harum ratione at cupiditate delectus eligendi beatae placeat nostrum ipsa optio
                    architecto, quam consequatur id.</p>
            </div>
            <div class="col-md-4">
                <img src="../../static/img/infamous.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- fin tarjetas -->

<!-- tecnologias -->
<div class="tech">
    <h1> Nuestras tecnologias</h1>
    <img src="../../static/img/bo zombies.jpg" alt="">
    <img src="../../static/img/bo zombies.jpg" alt="">
    <img src="../../static/img/bo zombies.jpg" alt="">
</div>

<div class="target">

</div>
<!-- fin tecnologias -->

<!-- seccion del final  -->
<div class="contacto">
    <h1>Contactanos</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos officiis accusantium ab officia saepe debitis
        soluta, maiores itaque eveniet dignissimos asperiores iste maxime a ducimus harum et rem delectus error.</p>
    <a href="#" class="button1"> Contactanos </a>
</div>

    <script src="https://kit.fontawesome.com/b493bbbcd9.js" crossorigin="anonymous"></script>
    <script src="static/scripts/script.js"></script>
</body>
</html>

{%endblock%}