{% extends 'social/layout.html' %}
{% block content%}
{% load static%}
<!DOCTYPE html>
<html lang="en">

<body>

    <div class="mundito">
        <div class="mapa">
            <div class="aparecer1">
                <img src="{% static 'img/coin.png' %}" class="img11">
            </div>

            <div class="aparecer3">
                <img src="{% static 'img/nueva señal.png' %}" class="img33">
            </div>

            <div class="aparecer4">
                <img src="{% static 'img/espacio vacio.png' %}" class="img44">
            </div>

            <div class="aparecer2">
                <img src="{% static 'img/señal wifi.png' %}" class="img22">
            </div>


        </div>
    </div>

    <div class="container" style="background-color: white;">
        <!-- texto inicial -->
        <div class="text">
            <h1> E - COMMERCE LOGISTICS </h1>
            <p> Implementa la trazabilidad 4.0 con clientes y proveedores
                Gestiona tiempos y movimientos entre CeDis
                Monitorea tus inventarios en tiempo real
                Elimina el robo hormiga mediante sistemas de seguridad preventiva
                Administra múltiples proveedores de transporte simultáneamente.</p>
        </div>


        <!-- tarjetas -->
        <div class="container mt-5">
            <div class="card">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="card-title mt-2"> E - COMMERCE LOGISTICS </h2>
                        <p>Implementa la trazabilidad 4.0 con clientes y proveedores
                            Gestiona tiempos y movimientos entre CeDis
                            Monitorea tus inventarios en tiempo real
                            Elimina el robo hormiga mediante sistemas de seguridad preventiva
                            Administra múltiples proveedores de transporte simultáneamente.</p>
                    </div>
                    <div class="col-md-4">

                        <img src="../../static/img/tecno.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="card">
                <div class="row">
                    <div class="col-md-4">
                        <img src="../../static/img/tecno.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <h2 class="card-title mt-2"> GOBIERNO DIGITAL </h2>
                        <p>Comunicados oficiales automatizados.
                            Datos de comportamiento social.
                            Integración comunitaria y programas de apoyo.
                            Trámites digitalizados.
                            Sistemas de seguridad ciudadana.
                            Ciudades inteligentes.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="card">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="card-title mt-2"> MANUFACTURA 4.0 </h2>
                        <p>Localiza los cuellos de botella de tus procesos en tiempo real.
                            Respalda tu información industrial de forma segura y dinámica.
                            Monitorea todos tus Kpis desde un mismo panel.
                            Identifica la línea de origen de productos defectuosos.
                            Gestiona y compara el grado de calidad de proveedores e insumos.
                            Implementa alertas inteligentes.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="../../static/img/tecno.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- fin tarjetas -->

        <!-- tecnologias -->
        <div class="tech">
            <h1> Nuestras tecnologias</h1>
            <img src="../../static/img/bo zombies.jpg" alt="">
            <img src="../../static/img/bo zombies.jpg" alt="">
            <img src="../../static/img/bo zombies.jpg" alt="">
        </div>
        <!-- fin tecnologias -->
        <div class="target">

        </div>

        <!-- Fin container -->
    </div>


    <script src="https://kit.fontawesome.com/b493bbbcd9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>

{%endblock%}