*
{
margin: 0;
padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #06181f;

}

.container{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.icono{
    width: 100%;
}

.container.icono path{

    fill: transparent;

    stroke-width: 10;
    stroke: #31e8ff;
}

.container.icono_mundo: hover path{
    animation: animate-icono_mundo 2s linear forwards

}

@keyframes animate-icono_mundo{
    0%
    {
        stroke- stroke-dashoffset: 0;

    }
    40%
    {
        stroke- stroke-dashoffset: 1560;
    }
    80%
    {
        stroke- stroke-dashoffset: 3120;

    }
}