body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    

}


h1{
    font-weight: 100;
    color:white

}




body{

    text-align: center;
    background-color: #100420;
}

.nubes,
.mapa{


    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}




.nubes{


    
    
    width: 840px;
    height: 859px;



}


.nubes img{
    position: relative;

    z-index: 20;
}


.mapa{

    width: 200px;
    height: 200px;
    background: lightblue;
border-radius: 50%;

box-shadow: -30px -20px 0 0 rgba(0,0,0,.1) inset,
         -70px -30px 0 0 rgba(0,0,0,.1) inset,
         -5px 5px 0 0 rgba(255,255,255,.2) inset;

         background: url(..//PRACTICA/img/mundo.jpg);
background-size: cover;



-webkit-animation : tierra 5s infinite linear;
/* La propiedad Shorthand combina seis de las propiedades de animación en una sola propiedad.

(Chrome, Safari 5)

Definir también la propiedad estándar 'animation' para compatibility css(vendorPrefix)*/
    
}

/* Webkit es el motor de renderizado html / css utilizado en el navegador Safari de Apple y en Google Chrome. Los prefijos de css values ​​con -webkit-*/









/* @-webkit-keyframes tierra{*/




@keyframes tierra{

from{
    background-position: left center;
}

to{
    background-position: -396px center;
}
}