*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body{
    background-color: rgb(255, 255, 255);    
}

/* Inicio de header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 30;
}

.logo{
    height: 40%;
}

header .navbar  ul{
    list-style: none;
}

header .navbar  ul li{
    position: relative;
    float: left;
}

.logo{
    width: 125px;
    height: 50px;
    align-items: center;
}

header .navbar  ul li a{
    font-size: 20px;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: block;
    text-decoration:none;
}

header .navbar  ul li a:hover{
    background: #333;
    color:#fff ;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
}

/*logo */
.zona1 img{
    margin-top: 70px;
    margin-right: 50px;
    width: 600px;
    height: 500px;
    float: right; 
}
/* fin logo */

/* img cabecera*/
.zona1{
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../static/img/fondo.jpg);
    background-size: cover;
    background-position: center center;
}
/* fin img cabecera */


/* texto cabecera */

.contenidos2{
    position:absolute;
    bottom:0;   
    background: transparent;
    height: 400px;
    width: 600px;
    margin-left: 150px;
}
.zona1 h1{
    color: rgb(0, 0, 0);
    }
    .zona1 p{
        color: #fff;
        margin-bottom: 30px;
        }

        .zona1 img{
            margin-top: 120px;
            margin-right: 90px;
            width: 600px;
            height: 500px;
            float: right; 
        }

    .zona1 h1{
            font-size: 50px;
            margin-bottom: 30px;
    }

    
    .zona1 a{
        text-decoration:none;
        font-size: 20px;
    }
    
    .button1{
        margin-left: 30px;
        padding: 10px 30px;
        background-color: rgb(3, 171, 201);
        box-shadow:  1px 10px 15px rgb(255, 255, 255);
        color: white;
        border-radius: 5px;
    }

/* fin Texto de la cabecera */

/* inicio cabeza */
.container{
    padding-top: 40px;
    padding-bottom: 5px;
}
.cabeza{
    width: 99%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    height: 250px;
    background: rgb(16, 49, 65);
    box-shadow: 1px 10px 30px rgb(97, 96, 96);
}

.cabeza h1{
 color: #fff;
 padding-top: 5%;
 margin-left: 30px;
 font-size: 45px;
}
.cabeza p{
    color: #fff;
    margin-top: 20px;
    padding-left: 2%;
    padding-right: 30%;
    font-size: 20px;
   }

/* fin cabeza */

/* final de header*/


/* tarjetas */
.containerCards{
    margin: 0 auto;
    display: flex;
    max-width: 1500px;
    justify-content: center;
    margin-top: 40px;
}

.card{
    justify-content: center;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:#fff;
    box-shadow:  1px 10px 15px rgb(97, 96, 96);
    cursor: default;
    transition: all 400ms ease;
    align-items: center;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
    transform: translate(-3%) ;
}

.card img{
    width: 330px;
    height: 220px;
    display:block;
    margin:auto;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color:#6a6a6a;
    
}

.card .contenido h3{
 font-weight: 400;
 margin-bottom: 15px;

}

.card .contenido a{
text-decoration: none;
display: inline-block;
padding: 10px;
margin-top: 10px;
color: #2fb4cc;
border: 1px solid #2fb4cc;
border-radius: 4px;
transition : all400ms ease;
}

.card .contenido a:hover {
    background : #2fb4cc;
    color: #fff;
} 
/* fin tarjetas */


/* lista */

/* contenedor general */
.circulado{
width: 100%;
height: 1100px;
}
/* borde de primer texto*/

.general{
    margin-top: 25px;
    margin-bottom: 40px;
    padding-right: 5%;
    padding-left: 5%;
}

/* redondeado de imagen*/
.img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
/* fin redondeado de imagen*/

.contenedorC{
    height: 75%;
    width: 60%;
    float:right;
    /* margin-right: 100px; */
    margin-top: 140px;
    padding-top: 20px;
    padding-left: 50px;    
}

.circulo{
    height: 95%;
    width: 95%;
    /* background-color: rgb(16, 49, 65); */
    background: url(../static/img/mundo.jpg);
    border-radius: 100%;
}

.capa{
    display: block;
    height: 100vh;
    margin-top: 20px;
    position: absolute;
    margin-bottom: 20px;
}
.texto{
    z-index: 1;
    width: 540px;
    height: 440px;
    padding:  20px;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

.general h1, .general p{
    color :black;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}


.elementor, .elementor th,.elementor td {
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 96px;
   height: 30%;
    width: 33%;
} 

/* fin LISTA */

/* carusel colaboraciones */
.carou{
    width: 100%;
    height: 200px;
    background: rgb(16, 49, 65);
}

.carou h1{
    padding-top: 20px;
    color: white;
    text-align: center;
}

.marquee-horizontal{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;   
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    margin-top: 20px;
}

.track-horizontal{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.icon{
    width: 65%;
}

.icon-container-alt{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 150px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-radius: 8px;
}
/* carusel colaboraciones */

/* pendiente */
.pendiente{
    width: 100%;
    height: 400px;
}
/* fin pendiente */

/* formulario */

.form-register{
    width: 90%;
    height: 700px;
    background: rgb(16, 49, 65);
    /*padding-left: 5%;
    padding-top: 3%;*/
    margin: auto;
    margin-top: 25px;
    border-radius: 25px;
    font-family: 'calibri';
    color:white;
    box-shadow: 7px 13px 37px #000;
    
}

.info{
width: 30%;
height: 100%;
padding-left: 5%;
padding-top: 3%;
font-weight: bold;
}

.info h1{
    font-size: 55px;
}
.info p{
    font-size: 20px;
}
.elementos{
    float: right;
    width: 70%;
    height: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

.controllers{
    width: 95%;
    height: 70%;
    border-radius: 5px;
    padding-left: 20px;
}

.elementos table {
    margin-top: 5%;
    height: 40%;
    width: 100%;
    margin-bottom: 2%;
}
.elementos h4{
    font-size: 15px;
}

.elementos textarea{
    width: 100%;
    height: 20%;
    border-radius: 15px;
}

.buttons{
    width: 30%;
    background: #1f96c5;
    border-radius: 10px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 26px;
    font-weight: bold;
}

/* fin formulario */


/* footer */
footer{
    background: rgb(16, 49, 65);
    height: 100px;
}

footer img{
    
    width: 15%;
    margin-top: 20px;
    margin-left: 30px;
}

/* fin footer */







@media(max-width:991px){
    header{
        padding: 20px;
        
    }
    .zona1{
        position: relative;
        width: 100%;
        height: 900px;
    }
    .mapa{
    right: -50%;
    }

    header label{
        display: initial;
    }

    header .navbar{ 
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(0, 0, 0);
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li{
        background: #eee;
    }

    header .navbar ul li ul li ul{
        width: 100px;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{
        display: initial;
    }
}
@media screen and (max-width: 479px) {

    .marquee-horizontal{
        height: 60px;
    }

    .icon-container-alt{
        width: 100px;
        height: 100px;
    }
}