{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Document</title>
</head>
<body> 
<header>
  
  <img src="./static/img/logo azul.png" alt="" class="logo">
  
  <input type="checkbox" id="menu-bar">
<label for="menu-bar">Menu</label>

    <nav class="navbar">
      <ul>
        <li><a href="#"> INICIO </a></li>
        <li><a href="#"> SERVICIOS </a></li>
        <li><a href="#"> NOSOTROS </a></li>
        <li><a href="#"> BLOG </a></li>
        <li><a href="#"> CONTACTO </a></li>
      </ul>
    </nav>
  </a>
</header>
<div>

  <div class="container">
    <div class="card">
    <figure>
    <img src="./static/img/bo zombies.png" >
    
    </figure>
    <div class="contenido">
    
        <h3>hola</h3>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos cupiditate ullam, sequi atque nam eaque architecto placeat modi minus ipsum, autem voluptatibus et aliquam quis dolorum reprehenderit voluptate numquam delectus.</p>
    <a href="#">leer mas</a>
    
    </div>
    </div>
    
    
    
    <div class="card">
        <figure>
        <img src="../PRUEBADIGIMUNDO/static/img/fortnite.jpg" >
        
        </figure>
        <div class="contenido">
        
            <h3>que</h3>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos cupiditate ullam, sequi atque nam eaque architecto placeat modi minus ipsum, autem voluptatibus et aliquam quis dolorum reprehenderit voluptate numquam delectus.</p>
        <a href="#">leer mas</a>
        
        
        
        
        </div>
        </div>
    
    
        <div class="card">
            <figure>
            <img src="../PRUEBADIGIMUNDO/static/img/infamous.jpg" >
            
            </figure>
            <div class="contenido">
            
                <h3>hace</h3>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos cupiditate ullam, sequi atque nam eaque architecto placeat modi minus ipsum, autem voluptatibus et aliquam quis dolorum reprehenderit voluptate numquam delectus.</p>
            <a href="#">leer mas</a>
            
            
            
            
            </div>
            </div>
    
    
        
        </div>
</body>
</html>
